 #bodyhome{
  font-size: 1rem;
  background-color: black;

}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
.footer-bottom{
  font-size:13;
  text-align: center;
  color: ghostwhite;
  background-color: black;
  margin-left: -1000px;
  margin-right:-1000px;
}
#botones{
  padding-left:  10%;
}
#video{
  padding-left: 25%;
}

#cuerpo{

font-size:23px;
line-height: 1.4em;
text-align: justify;
font-family: 'Roboto', sans-serif;

  background: url(https://static.wixstatic.com/media/214ec6_3b86be8b75c276fe06abfb9c8f473244.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.head{
  margin-left: -1000px;
  margin-right:-1000px;
    background: black;
}
