
*{
  font-family: 'Merriweather', serif;
}
body {
  margin: 5px;
}
 #bodyhome{
  font-size: 1rem;
  background-color: black;

}


.mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
}

.p-3 {
  padding: $spacer !important;
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
.footer-bottom{
  background: black;
  margin: 0;
   padding: 0;
   width: auto;
    display: block;
    color:ghostwhite;
    font-size: 15px;
}
#botones{
  padding-left:  10%;
}
#video{
  padding-left: 25%;
}

#cuerpo{

font-size:26px;
line-height: 1.4em;
text-align: justify;


  background: url(https://static.wixstatic.com/media/214ec6_3b86be8b75c276fe06abfb9c8f473244.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.row{

    background: black;
    margin: 0;
     padding: 0;
     width: auto;
      display: block;

   }

.element{
   border-radius: -4%;
   shape-outside: border-box;
  -webkit-clip-path:circle (50%);
  width: 350px;
  height: 375px;
  float: left;
  padding-right:5% ;
}
.pentagon
{
font-weight: bold;

  border:1px solid black ;
  color:ghostwhite;
  background-color: black;
}
#autor{
  font: 20    px;
}

#whatsfondo{
  background-color: #001a33;
    color:ghostwhite;
    font-size:22px;
    line-height: 1.4em;
    text-align: justify;
    padding:3%;
    margin-left: 5%;
      margin-right: 5%;
}
h3,h4{
    text-align: center;
}
nav  {

    font-size:22px;
    width: auto;
}
#enlace{
  color:ghostwhite;
  text-decoration: underline;

}
.hipno{
    font-size:20px;
    text-align: justify;
    padding:3%;
    margin-left: 5%;
      margin-right: 5%;
}
.contacto
{

  padding:1%;

}
.ticontacto{
    text-align: center;
    color: #002e5d;

}
#enlace2{
  color:black;
  font-size:24px;
}

.element2{
   border-radius: 1%;
   shape-outside: border-box;
  -webkit-clip-path:circle (50%);
  width: 400px;
  height: 300px;
  float: right;
  padding-right:5% ;
}
.card{
   background-color: transparent !important;
border:0px !important;
}

.card-text{

margin: 5%;
text-align: center;
  color:#002e5d;
    font-size:25px;
    font-weight: bold;
}
#tarjeta1{
  border-right:8px solid black!important;
}
.card-text,.text-muted{
  text-align: center;
    color:#002e5d !important;
      font-size:25px;
      font-weight: bold;
}
.eventos{
  font-weight: bold;
    color:ghostwhite;
    background-color: #3a0f39;
}
h2{
  font-weight: bold;
  text-align: center;
  color:black;

}
.accion{
  width: auto;
}
.jumbotron{
     background-color: transparent !important;
}
#servic1{
    font-weight: bold;
  text-align: left;
  color:#3098c9;
}
#servic2{
    font-weight: bold;
  text-align: center;
  color:black;
}
#enlaceatre{
  color:#002e5d !important;
  text-decoration: underline;

}
.page-header{
  padding-left: 25%;
  padding-right: 25%;
}
#botonest{

background-color: #003459 !important;
}
#imagen2 {
 display: flex !important;
  align-items: center !important;
  justify-content: center!important;
}
#vinetas{
  text-align: left;
}
.mySlides {display:none;
width:372px;
height:494px;
object-fit: cover;
margin-left: auto;
margin-right: auto 
}
.mySlidesHipno {
display:none;
width:598px;
height:336px;
object-fit: cover;
margin-left: auto;
margin-right: auto 
}
